<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="utf-8" />
 <title>下单成功</title>
 <meta name="keywords" content="DeathGhost,DeathGhost.cn,web前端设,移动WebApp开发" />
 <meta name="description" content="DeathGhost.cn::H5 WEB前端设计开发!" />
 <meta name="author" content="DeathGhost"/>
 <link th:href="@{/style/style.css}" rel="stylesheet" type="text/css" />
 <link th:href="@{/style/bootstrap.btn.css}" rel="stylesheet">
 <script type="text/javascript" th:src="@{/js/public.js}"></script>
 <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
 <script type="text/javascript" th:src="@{/js/jqpublic.js}"></script>
<!--
Author: DeathGhost
Author URI: http://www.deathghost.cn
-->
</head>
<body>
<!--引用头部导航栏代码块-->
<div th:replace="~{commons/common::top}"></div>

<section class="Psection MT20 Textcenter" id="Aflow">
  <!-- 订单提交成功后则显示如下 -->
  <p class="Font16 Lineheight35 FontW" style="color: #00ac40">恭喜你！订单提交成功！</p>
    <p class="Font14 Lineheight35 FontW">订单编号：<span class="CorRed">[[${order.getOrder_id()}]]</span></p>
    <p class="Font14 Lineheight35 FontW">收货人：<span class="CorRed">[[${order.getOrder_name()}]]</span></p>
    <p class="Font14 Lineheight35 FontW">联系电话：<span class="CorRed">[[${order.getOrder_phone()}]]</span></p>
  <p class="Font14 Lineheight35 FontW">共计金额：<span class="CorRed">[[${order.getOrder_price()}]]</span></p>
    <p class="Font14 Lineheight35 FontW">下单时间：<span class="CorRed">[[${order.getOrder_time()}]]</span></p>
  <p><button type="button" class="Lineheight35">支付宝立即支付</button>
   <button type="button" class="Lineheight35"><a th:href="@{/order/history(username=${session.User})}">查看历史订单</a></button></p>
</section>


<!--End content-->
<!--引用底部栏代码块-->
<div th:replace="~{commons/common::last}"></div>
</body>
</html>
